@font-face {
  font-family: newyork;
  src: url(./newyork/FontsFree-Net-NewYorkExtraLargeRegular.ttf);
}
@font-face {
  font-family: SFMONO;
  src: url(./sf-mono-cufonfonts/SFMonoRegular.otf);
}
@font-face {
  font-family: SFPRO;
  src: url(./sf-mono-cufonfonts/FontsFree-Net-SFProText-Regular.ttf);
}
@font-face {
  font-family: SFProDisplay;
  src: url(./sf-mono-cufonfonts/SFPRODISPLAYREGULAR.OTF);
}
.nRose {
  width: 55%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18px;
}
.nav-link {
  font-family: newyork Small;
  font-style: normal;
  font-weight: bolder;
  color: black;
  font-size: 14px;
  line-height: 170%;
  text-align: center;
  letter-spacing: 0.12em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18px;
}
@media screen and (min-width: 992px) {
  .navbar-nav {
    position: absolute;
    right: 10%;
  }
}

.navDiv2 {
  color: black;
}
.navDiv2:hover {
  border-bottom: 1px solid #000;
  padding-bottom: 35px;
}
@media screen and (max-width: 576px) {
  .nRose {
    position: absolute;
    left: 0;
    top: 0;
  }
  .navbar-toggler {
    margin-right: 0;
  }
}
#navH {
  font-family: newyork;
  font-weight: bolder;
  color: #000;
  text-align: center;
  font-size: 34px;
}
#navP {
  font-family: monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  color: #000000;
}
#yellowPic {
  width: 100%;
  height: auto;
}
.statusP {
  font-family: SFPRO;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.statusH {
  font-family: SFPRO;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
}
.icons {
  font-size: 20px;
  color: #000;
  margin-right: 2px;
  padding-top: 5px;
}
.iconsdiv {
  border: 1px rgb(202, 200, 200) solid;
  text-align: center;
  height: fit-content;
}
.iconText {
  font-family: SFPRO;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  /* identical to box height, or 26px */

  color: #000000;
}
@media screen and (max-width: 576px) {
  .statusP {
    font-size: 70%;
    line-height: 10px;
  }
  .statusH {
    font-size: 70%;
  }
}
@media screen and (max-width: 992px) {
  .icons {
    font-size: 80%;
  }
}

@media screen and (max-width: 750px) {
  .iconsdiv {
    margin-top: 8%;
  }
  .iconText {
    display: none;
  }
}
.statusParas {
  font-family: newyork Medium;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 170%;
  /* or 34px */

  color: #000000;
}
.statush2 {
  font-family: SFProDisplay;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 160%;
  /* or 51px */

  color: #000000;
}
.statuePic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 90%;
}
@media screen and (max-width: 750px) {
  .statuePic {
    width: 100%;
    height: auto;
  }
}
.imgLabel {
  font-family: SFPRO;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-align: center;
  margin-top: 8px;
  color: #000000;
}
.listSpan {
  list-style: none;
  font-family: New York Medium;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 170%;
  /* identical to box height, or 34px */
  color: #000000;
}
.tags {
  font-family: SFPro;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #0c0c0c;
}
.introH {
  font-family: SFPRO;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 160%;
  /* or 26px */

  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #0c0c0c;
}
.introP {
  font-family: newyork;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.eyeImg {
  position: relative;
  bottom: 50px;
}
.blacks {
  border: 2px black solid;
}
.wtrn {
  font-family: newyork;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 53px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}
.wtrnImg {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
.wtrnP {
  font-family: SFProDisplay;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
  /* or 26px */

  text-align: center;

  color: #000000;
}
@media screen and (max-width: 750px) {
  .wtrn {
    font-size: 32px;
  }
}
